.main-container{
    margin: 30px auto;
    padding: 20px 40px;
    max-width: 1230px;
    text-align: center;
    background: black;
    border-radius: 10px;
}
.main__text{
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.container__text{
    color: white;
    font-size: 30px;
}
.start{
    margin-top: 50px;
    text-align: center;
}
.start__button{
    padding: 20px 60px;
    border-radius: 20px;
    font-size: 50px;
    font-weight: bold;
    background: blue;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.start__button:hover{
    opacity: 0.7;
}